.label {
  top: 0 !important;
  height: 28px !important;
  line-height: 28px !important;
  width: 34px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 700 !important;
  background-color: transparent !important;
}

.thumb {
  background-color: var(--mantine-color-blue-6) !important;
  height: 28px !important;
  width: 64px !important;
  border: none !important;
}

/* Optional: set Mantine slider variables on the root for more control */
.root {
  /* Controls both thumb width & height in Mantine v8 */
  --slider-thumb-size: 28px;
}
